<!DOCTYPE html>
<html>

<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body  style="background-image: url('https://cdn2.vectorstock.com/i/1000x1000/33/11/background-blue-abstract-website-pattern-vector-3523311.jpg'); background-repeat: no-repeat; background-size:cover;">


    <img class="" src="https://lh3.googleusercontent.com/Mlk8RHpcaGeyi-UdbrqB7xkqiVl6QfPV-mE-jakvChajrlaVxunUv9fep3U2QYmalQWhba35_9s_fKKBhJ7RRyFzqD-_pw1VgcfZUXc0QXbIw9lvy4a2lVUoO7uQRnUkb2kNj-HLJA=w2400"
    alt="Sneh Patel" />
    <h1> about Sneh Patel </h1>
    <p> hello my name is sneh patel my studing CMPG in georgian college In my coursework in computer programming, it’s included intro to web programming where I used 
various java editor like NetBeans, Vs code to make website. with help of Maths for computer industry i 
easily know about converting different number to binary or binary to others. Additionally, using 
networking essential with Cisco Packet Tracer I can learn regarding network types as well as networking 
system. I received lots of great compliments on my ability to grasp new technology and concepts This 
experience will help me to gain opportunity to know about new technology. </p>

    <h3> Programming Languages</h3>
    <ol>

        <li>JavaScript</li>
        <li>Python</li>
        <li>Swift</li>
        <li>C#</li>
        <li>Html and CSS</li>
    </ol>
<p>
    <h3>computer programming</h3>
    <li>IOT</li>
    <li>Networking Essential with Cisco Packet Trac</li>
    <li> Math for Computer Industry</li>



    <h3>TECHNICAL SKILLS</h3>
    <li>Programming Languages: C, C++, Java and Html.</li>
    <li>Analyze and resolve information technology problems through the application of systematic
        approaches and diagnostic tools.</li>
    <li>Apply knowledge of programming to the implementation of information technology.</li>
    <li>Make Website and designs according to instructions</li>
    <li>Administration: Office 365, SharePoint Admin Centre, Skype for Business, Exchange Server</li>
    <li>Systems: Windows Servers, Exchange servers, Active Directory, Group Policy, PowerShell</li>
    <li>Networking: LAN, WAN, VLANs, DNS, DHCP, Firewall, Switch, IPv4/IPv6</li>
    <li>Operating Systems: Windows, Linux</li>
    <li>Documentation: Technical Articles, SharePoint List management, Certification documents</li>
    <li>Database: SQL, MySQL Server, Shell Scripting, COBOL</li>






    </ol>
</p>


<form>
<input  class="button" type="button" onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSdbfCdlToqlFySkCrcgmZkfZRZ0hRvtr1Vcy9PChvtqyRjGpw/viewform?usp=sf_link';" value="Email Me" />  </form>
    <div class="logo">
    <a href="https://www.facebook.com/profile.php?id=100073940475307"><img  class="logo" src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png"   alt="Facebook Logo" /></a>
    <a href="https://www.instagram.com/patel_sneh__486/"><img class="logo"src="https://e7.pngegg.com/pngimages/792/947/png-clipart-instagram-logo-social-media-instagram-login-facebook-advertising-instagram-text-logo-thumbnail.png"alt="Instagram Logo" /></a>
    <a href=""><img class="logo"src="https://cdn-icons-png.flaticon.com/512/174/174857.png"alt="Facebook Logo" /></a>
    <a href="https://github.com/snehgeorgian"><img class="logo"src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github Logo" /></a>
  
</div>
</body>
<style>
  img.logo {
  height: 2%;
  width: 2%;
  position: centre;
  margin-left: 12px;
       
    }

    

    </style>

</html>