<!DOCTYPE html>
<html>

<body>

<h1>hello </h1><link rel='stylesheet' href='/stylesheets/style.css' />
<p>
  <li> The world of technology is shifting, evolving, and adapting to global market trends faster than ever before.
    According to a Forbes article, many senior technology executives are predicting big changes in software development
    in 2019, such as multiplatform user interface (UI) development, native analytics modules, AI-first development, and
    human behavior modeling.</li>
</p>

<p>
  <li> According to the U.S. Bureau of Labor Statistics (BLS), software developers have a strong job outlook. The job
    growth rate for the profession is expected to rise by 24 percent — more than three times as fast as the average for
    all occupations — between 2016 and 2026. That’s 302,500 jobs that are expected to open up for software developers
    across the country.</li>
</p>
<p>
  <li> Yet, software developers aren’t the only computer-related professionals advancing rapidly. According to the BLS,
    computer and information technology (IT) occupations of all kinds, such as computer and information research
    scientists, computer network architects, computer systems analysts, and computer programmers, are expected to
    increase by 13 percent over the same decade, 2016–2026. That’s a gain of 557,100 jobs. The BLS notes that this
    increase may be due to a greater focus on cloud computing, big data, and information security. Regardless of the
    impetus, the future of programming looks bright.

    To adapt to these shifts and evolutions within the IT and computer industries, you may need to acquire additional
    skills through an advanced education program. For example, an online master’s degree in software development program
    can provide you with the means to develop skills in the top 10 programming languages of the future, UI design, agile
    systems, and development and operations (DevOps).</li>
</p>

  <h5 class="h5" >Game</h5>
   <img class="image"
    src="https://www.billboard.com/wp-content/uploads/2021/09/gaming-illo-2021-billboard-1548-1630594318.jpg?w=942&h=623&crop=1"
    alt="" /></a>
  <h5 class="h5">Video</h5>
   <img  class="image"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXbAV9XF6Hq9C3nLaXy1xVzVte-SardUoeXw&usqp=CAU"
    alt="" /></a>
  <h5 class="h5">Music</h5>
   <img  class="image"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqBFhq-P5x2HS3at2sypeGpIS3AJshIUFeKw&usqp=CAU"
     alt="" /></a>
  <h5 class="h5">Gadgets</h5>
    <img  class="image"
    src="https://www.animationxpress.com/wp-content/uploads/2022/04/room1.jpg"
    alt="" /></a>

<!--
  <div class="row row-cols-3">
    <div class="col1"> Game </div>
    <img 
    src="https://www.billboard.com/wp-content/uploads/2021/09/gaming-illo-2021-billboard-1548-1630594318.jpg?w=942&h=623&crop=1"
    alt="" /></a>
    <div class="col2"> Video </div>
     <img 
    src="https://i.pinimg.com/564x/f9/b6/37/f9b6373d5cbf2fb46844adf7a3c23ce3.jpg"
    alt="" /></a>
    <div class="col3"> Music </div>
     <img 
    src="https://rare-gallery.com/uploads/posts/1010711-couch-chair-dog-computer-technology-Cartoon-Network-goldfish-games-screenshot.png"
    alt="" /></a>
    <div class="col4"> Gadgets </div>
     <img 
    src="https://www.animationxpress.com/wp-content/uploads/2022/04/room1.jpg"
    alt="" /></a>
  </div>
</div>-->

</body>

<style>

.text-cen {

    
}

</style>

</html>
