<!DOCTYPE html>
<html>

<body>

<h1>hwllo </h1>

<link rel='stylesheet' href='/stylesheets/style.css' />
<p> joker is very funniest charater in life so please make sure that    </p>




  <h5 class="h5" >Game</h5>
   <img class="image"
    src="https://www.billboard.com/wp-content/uploads/2021/09/gaming-illo-2021-billboard-1548-1630594318.jpg?w=942&h=623&crop=1"
    alt="" /></a>
  <h5 class="h5">Video</h5>
   <img  class="image"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXbAV9XF6Hq9C3nLaXy1xVzVte-SardUoeXw&usqp=CAU"
    alt="" /></a>
  <h5 class="h5">Music</h5>
   <img  class="image"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqBFhq-P5x2HS3at2sypeGpIS3AJshIUFeKw&usqp=CAU"
     alt="" /></a>
  <h5 class="h5">Gadgets</h5>
    <img  class="image"
    src="https://www.animationxpress.com/wp-content/uploads/2022/04/room1.jpg"
    alt="" /></a>

<!--
  <div class="row row-cols-3">
    <div class="col1"> Game </div>
    <img 
    src="https://www.billboard.com/wp-content/uploads/2021/09/gaming-illo-2021-billboard-1548-1630594318.jpg?w=942&h=623&crop=1"
    alt="" /></a>
    <div class="col2"> Video </div>
     <img 
    src="https://i.pinimg.com/564x/f9/b6/37/f9b6373d5cbf2fb46844adf7a3c23ce3.jpg"
    alt="" /></a>
    <div class="col3"> Music </div>
     <img 
    src="https://rare-gallery.com/uploads/posts/1010711-couch-chair-dog-computer-technology-Cartoon-Network-goldfish-games-screenshot.png"
    alt="" /></a>
    <div class="col4"> Gadgets </div>
     <img 
    src="https://www.animationxpress.com/wp-content/uploads/2022/04/room1.jpg"
    alt="" /></a>
  </div>
</div>-->

</body>

<style>

.text-cen {

    
}

</style>

</html>
