<h1>Welcome To Sneh Patel Portfolio</h1>
<style>
  img.logo {
  height: 2%;
  width: 2%;
  position: centre;
  margin-left: 12px;
  }
  .hope{

  }
  .abc{
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'cursive';
  color: #2E475D;
  font-weight: bold;
  font-size: 1.3rem;
  }
  </style>  
 <p>Welcome to {{title}}</p>
  <table>
    <td>
        <h6> Hello everyone this my portfolio I am web developer currently i am studing computerprogramming in georgian college</h6>
    </td>
    <td>
      <img  class="home" src="https://lh3.googleusercontent.com/Mlk8RHpcaGeyi-UdbrqB7xkqiVl6QfPV-mE-jakvChajrlaVxunUv9fep3U2QYmalQWhba35_9s_fKKBhJ7RRyFzqD-_pw1VgcfZUXc0QXbIw9lvy4a2lVUoO7uQRnUkb2kNj-HLJA=w2400"   alt="Facebook Logo" />
    </td>
  </table>
<div class="abc">
 Computer science is the operating system for all the innovation
</div>
<!--<body  style="background-image: url('https://burst.shopifycdn.com/photos/abstract-background-of-four-colored-triangles.jpg?width=1200&format=pjpg&exif=1&iptc=1'); background-repeat: no-repeat; background-size:cover;">
 -->
 
    
{{!-- <img  class="home" src="https://lh3.googleusercontent.com/Mlk8RHpcaGeyi-UdbrqB7xkqiVl6QfPV-mE-jakvChajrlaVxunUv9fep3U2QYmalQWhba35_9s_fKKBhJ7RRyFzqD-_pw1VgcfZUXc0QXbIw9lvy4a2lVUoO7uQRnUkb2kNj-HLJA=w2400"   alt="Facebook Logo" /> --}}


    <div class="logo">
    <a href="https://www.facebook.com/profile.php?id=100073940475307"><img  class="logo" src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png"   alt="Facebook Logo" /></a>
    <a href="https://www.instagram.com/patel_sneh__486/"><img class="logo"src="https://e7.pngegg.com/pngimages/792/947/png-clipart-instagram-logo-social-media-instagram-login-facebook-advertising-instagram-text-logo-thumbnail.png"alt="Instagram Logo" /></a>
    <a href=""><img class="logo"src="https://cdn-icons-png.flaticon.com/512/174/174857.png"alt="Facebook Logo" /></a>
    <a href="https://github.com/snehgeorgian"><img class="logo"src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Github Logo" /></a>
  

</div></body>
