<!DOCTYPE html>
<html>
<head>




 <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body  style="background-image: url('https://media.istockphoto.com/photos/forest-wooden-table-background-summer-sunny-meadow-with-green-grass-picture-id1353553203?b=1&k=20&m=1353553203&s=170667a&w=0&h=QTyTGI9tWQluIlkmwW0s7Q4z7R_IT8egpzzHjW3cSas='); background-repeat: no-repeat; background-size:cover;">



  

    <h6> Hi this my first portfolio </h6>

    <h3>What is Portfolio?</h3>
<P>
    <li>
 
    An online portfolio (may also be called a digital portfolio or e-portfolio) is an online representation of work you
    have created, as well as your skills and experiences. It could be a website, blog, or even a video channel. It could
    include your resume, a summary of qualifications and skills, images of class projects or design samples, audio and
    video, charts and schematics, process flows, and more.

    </li>
    
</P>

<h3>Who Uses Portfolios and Why?</h3>

<p>
    <li>
        It is becoming increasingly necessary for artists, engineers, computer scientists, photographers, designers,
        filmmakers, and other creative individuals to have a means of displaying and promoting their work. Regardless of the
        medium(s) you choose, a portfolio will provide more individuals with access to your work and a better understanding
        of your talents. They present talents and initiatives in a strong and visually appealing manner that compliments the
        material in your resume and cover letter. They also allow you to arrange your work in one location, even if it spans
        other fields.
    </li>
</p>
<h3>Top 10 Tips for Creating Your own Portfolio</h3>
<p>
<li>Curate. Choose the best samples of your work (not ALL your work) and make sure it’s photographed well and/or you’re
    using high-resolution images.</li>
<li>Start and end strong. Use strong, clear images for your portfolio pages. Stay positive in all aspects of the
    portfolio.</li>
<li>Know your audience. When sharing a portfolio with a potential employer or client, do your research and include work
    that is directly related to what the employer/client/organization/gallery needs.</li>
<li>Make it cohesive and easy to navigate. Ensure that your viewers can find what they need quickly and easily. Include
    contact information and a resume/CV/bio, use clearly named tabs (e.g., UI/UX vs. photography), and list your social
    media channels if more work is featured there. Make sure your portfolio works well across various browsers.</li>
<li>Seek feedback. Ask faculty, Career Center staff, peers, and professionals you trust to review your portfolio and
    offer constructive criticism.</li>
<li>Collect, select, reflect.” Continually revisit your content. Make regular updates and think about if your portfolio
    is effectively highlighting your work and abilities.</li>
<li>Illustrate growth. Document your progress by recording projects as you are doing them (e.g., design notebooks,
    process outlines, photographs of various stages of work, videos of project testing). Remember that it’s helpful to
    show not only your most recent work but also the evolution of your skills.</li>
<li>Stay current. Keep an eye on industry trends (and other portfolios) to make sure your info stays fresh.</li>
<li>Create a master portfolio and an external portfolio. Consider having a portfolio that stores all your
    images/projects (for you to work from) and one that is client-facing or that you’ll share with employers.</li>
<li>Promote your brand. Your portfolio does more work for you when you drive traffic to it. Add the URL to your resume,
    business cards, social media, LinkedIn, etc.</li>
</p>


</body>



</html>